name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      ZIG_LOCAL_CACHE_DIR: /tmp/zig-cache/local
      ZIG_GLOBAL_CACHE_DIR: /tmp/zig-cache/global
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            /nix
            /tmp/zig-cache

      - name: Prepare Zig cache dirs
        run: mkdir -p /tmp/zig-cache/local /tmp/zig-cache/global

      - name: Build (Debug)
        run: nix develop -c zig build

      - name: Build (ReleaseFast)
        run: nix develop -c zig build -Doptimize=ReleaseFast

      - name: Test
        run: nix develop -c zig build test
