name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.15.1

      - name: Build (Debug)
        run: zig build

      - name: Build (ReleaseFast)
        run: zig build -Doptimize=ReleaseFast

      - name: Test
        run: zig build test
